/* set background color */
body{
    background-color:  #e6f2ff 

}


/* h1 heading tag */
h1{
    font-size: 30px;
    margin-top: 15px;
    color: #3399ff;
}

/* p heading tag */
p{
    font-size: 15px;
    margin-top: 20 px;
    color: #003366;
}
